In [58]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jeniskelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
print(df.head())

    siswa_id   pelajaran  nilai jeniskelamin kelas
0          1  Matematika     36    perempuan   12A
1          2  Matematika     14    perempuan   12D
2          3      Fisika     43    perempuan   12D
3          4       Kimia     22    laki-laki   12B
4          5     Ekonomi     94    perempuan   12C
5          6     Ekonomi     21    perempuan   12A
6          7     Geologi     21    perempuan   12A
7          8  Matematika     59    laki-laki   12D
8          9       Kimia     15    laki-laki   12B
9         10       Kimia     19    laki-laki   12B
10        11      Fisika     86    laki-laki   12C
11        12      Fisika     89    laki-laki   12C
12        13       Kimia     63    perempuan   12A
13        14       Kimia      8    perempuan   12A
14        15  Matematika     59    perempuan   12A
15        16       Kimia     68    perempuan   12A
16        17     Geologi     45    laki-laki   12D
17        18  Matematika     62    laki-laki   12C
18        19     Geologi     56    laki-laki   12A
19        20       Kimia     67    laki-laki   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [59]:
# code here
index_nk = ["nilai","kelas"]
print(df[index_nk])
print()
index_pn = ["pelajaran", "nilai"]
print(df.loc[5:10,index_pn])

    nilai kelas
0      36   12A
1      14   12D
2      43   12D
3      22   12B
4      94   12C
5      21   12A
6      21   12A
7      59   12D
8      15   12B
9      19   12B
10     86   12C
11     89   12C
12     63   12A
13      8   12A
14     59   12A
15     68   12A
16     45   12D
17     62   12C
18     56   12A
19     67   12D

     pelajaran  nilai
5      Ekonomi     21
6      Geologi     21
7   Matematika     59
8        Kimia     15
9        Kimia     19
10      Fisika     86

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [67]:
# code here
index_ef=(df.pelajaran == "Ekonomi") | (df.pelajaran == "Fisika")
print(df[index_ef])

index_k50=(df.pelajaran == "Kimia") & (df.nilai > 50)
print(df[index_k50])

index_superb=(df.jeniskelamin == "perempuan") & (df.nilai > 70) & (df.kelas == "12C")
#print(index_superb)
print(df[index_superb])

    siswa_id pelajaran  nilai jeniskelamin kelas
2          3    Fisika     43    perempuan   12D
4          5   Ekonomi     94    perempuan   12C
5          6   Ekonomi     21    perempuan   12A
10        11    Fisika     86    laki-laki   12C
11        12    Fisika     89    laki-laki   12C
    siswa_id pelajaran  nilai jeniskelamin kelas
12        13     Kimia     63    perempuan   12A
15        16     Kimia     68    perempuan   12A
19        20     Kimia     67    laki-laki   12D
   siswa_id pelajaran  nilai jeniskelamin kelas
4         5   Ekonomi     94    perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [79]:
# code here
def Xnormalized(x):
    hasil=(x-x.min())/(x.max()-x.min())
    return hasil

print("Data Frame sebelum xnormalized")
print(df)

df["Xnormalized"]=df[["nilai"]].apply(Xnormalized)
print("Data Frame setelah normalized")
print(df)

Data Frame sebelum xnormalized
    siswa_id   pelajaran  nilai jeniskelamin kelas
0          1  Matematika     36    perempuan   12A
1          2  Matematika     14    perempuan   12D
2          3      Fisika     43    perempuan   12D
3          4       Kimia     22    laki-laki   12B
4          5     Ekonomi     94    perempuan   12C
5          6     Ekonomi     21    perempuan   12A
6          7     Geologi     21    perempuan   12A
7          8  Matematika     59    laki-laki   12D
8          9       Kimia     15    laki-laki   12B
9         10       Kimia     19    laki-laki   12B
10        11      Fisika     86    laki-laki   12C
11        12      Fisika     89    laki-laki   12C
12        13       Kimia     63    perempuan   12A
13        14       Kimia      8    perempuan   12A
14        15  Matematika     59    perempuan   12A
15        16       Kimia     68    perempuan   12A
16        17     Geologi     45    laki-laki   12D
17        18  Matematika     62    laki-laki   12C
18        19     Geologi     56    laki-laki   12A
19        20       Kimia     67    laki-laki   12D
Data Frame setelah normalized
    siswa_id   pelajaran  nilai jeniskelamin kelas  Xnormalized
0          1  Matematika     36    perempuan   12A     0.325581
1          2  Matematika     14    perempuan   12D     0.069767
2          3      Fisika     43    perempuan   12D     0.406977
3          4       Kimia     22    laki-laki   12B     0.162791
4          5     Ekonomi     94    perempuan   12C     1.000000
5          6     Ekonomi     21    perempuan   12A     0.151163
6          7     Geologi     21    perempuan   12A     0.151163
7          8  Matematika     59    laki-laki   12D     0.593023
8          9       Kimia     15    laki-laki   12B     0.081395
9         10       Kimia     19    laki-laki   12B     0.127907
10        11      Fisika     86    laki-laki   12C     0.906977
11        12      Fisika     89    laki-laki   12C     0.941860
12        13       Kimia     63    perempuan   12A     0.639535
13        14       Kimia      8    perempuan   12A     0.000000
14        15  Matematika     59    perempuan   12A     0.593023
15        16       Kimia     68    perempuan   12A     0.697674
16        17     Geologi     45    laki-laki   12D     0.430233
17        18  Matematika     62    laki-laki   12C     0.627907
18        19     Geologi     56    laki-laki   12A     0.558140
19        20       Kimia     67    laki-laki   12D     0.686047