<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [4]:
import pandas as pd
# Membuat dataframes dari dictionary
df = pd.DataFrame({'hewan':['anjing', 'kucing'], 'tumbuhan':['padi', 'kapas']})
print(df)

    hewan tumbuhan
0  anjing     padi
1  kucing    kapas

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [12]:
# Membaca data dan memasukannya kedalam suatu variabel
df_from_csv = pd.read_csv('data/diamonds-1.csv')
print(df_from_csv)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: 
1. series merupakan object satu dimensi dimana dapat menyimpan data integer, string, dan lain sebagainya namun hanya seragam. Perbedaan dengan list terletak pada indexnya yg dapat dirubah sedangkan list tidak bisa. Dibandingkan dengan dictionary, dictionary memiliki index yg disebut key yang menyebabkan adanya kesamaan dari keduanya. Sedangkan letak perbedaanya ada pada dimensi dictionary yang dapat menampung data multi dimensi.
2. Perbedaan dataframe dan series terletak pada struktur nya dan juga attribute dan method-method yang mereka miliki, untuk perbedaan strukturnya adalah sebagai berikut : DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel.Series adalah objek 1 dimensi.
3.

In [14]:
# code here
x=pd.Series([0, 8, 1, 2, 2, 9, 4])
print(x)

0    0
1    8
2    1
3    2
4    2
5    9
6    4
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [21]:
# code here
df_head=df_from_csv.head()
print(df_head["price"])
df_tail=df_from_csv.tail()
print(df_tail["color"])

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, dtype: object

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 
Statistika deskriptif menjelaskan dan murumuskan suatu data. Umumnya digunakan dua metode pendekatan:
Pendekatan kuantitatif menjelaskan data secara numerik.
Pendekatan visual mengilustrasikan data menggunakan chart, plot, histogram, atau grafik lainnya.
Kita dapat menerapkan statistika deskriptif ke dalam satu atau banyak data. Ketika kita menjelaskan dan merumuskan suatu data tunggal, maka kita sedang melakukan analisa univariate. Ketika kita mencari hubungan statistika antara sepasang data, maka kita sedang melakukan analisa bivariate. Begitu juga dengan analisa multivariate yang berarti kita menerapkannya pada banyak data sekaligus.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [32]:
import statistics
import numpy as np
# code here
df_from_csv = pd.read_csv('data/diamonds-1.csv')
print(df_from_csv)
price_mean=np.nanmean(df_from_csv['price'])
print("Price mean =",price_mean)
depth_std=np.std(df_from_csv['depth'], ddof=1)
print("Depth Standard Deviation =",depth_std)
carat_max=max(df_from_csv['carat'])
print("Carat Maximum value =",carat_max)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]
Price mean = 3932.799721913237
Depth Standard Deviation = 1.4326213188337733
Carat Maximum value = 5.01

Jawab:
Price mean = 3932.799721913237
Depth Standard Deviation = 1.4326213188337733
Carat Maximum value = 5.01